/* VARIABLE DEFINITIONS: Only these 4 variables have to be adjusted, the rest is copy-paste */
* {
    -fx-my-menu-color: #e8e8e8;                  /* Change according to your needs */
    -fx-my-menu-color-highlighted: #CCCCCC;      /* Change according to your needs */
}

/* MENU BAR + Top-level MENU BUTTONS */
/*** The menu bar itself ***/
.menu-bar {
    -fx-background-color: -fx-my-menu-color;

    /* this is lying its not an error */
    -fx-effect: innershadow(gaussian, derive(grey, 70%), 1, 0, 0, -1);
}

/*** Top-level menu itself (not selected / hovered) ***/
.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu itself (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

.front-pane {
    -fx-background-color: -fx-my-menu-color;
    -fx-view-order: 1.0;
}

.middle-pane {
    -fx-background-color: #CCCCCC;
    -fx-view-order: 2.0;
}

.title-label {
    -fx-text-fill: #737373;
}

.close-button:hover {
    -fx-background-color: red !important;
}
